{% extends 'base.html' %}

{% block nav %}
    <div class="card" style="padding:10%">
        <h6 class="black-text">Filtre sua busca</h6>
        <br>
        <form action="#">
            <p>
                <input type="checkbox" id="categorias" />
                <label for="categorias">Categorias</label>
            </p>
        </form>
    </div>

    <div class="collection">
        <a href="#!" class="collection-item active">Categorias</a>
        {% for categoria in categorias %}

            <a href="{% url 'filtrar_produto' categoria.id %}" class="collection-item">{{ categoria }}</a>

        {% endfor %}
    </div>
{% endblock %}

{% block center %}

    <div class="row">
        {% for produto in produtos %}
            <div class="col s12 m4">
                <div class="card large">
                    <div class="card-image">
                        <img src="{{ produto.img_produto.url }}">
                    </div>

                    <div class="card-content">
                        <span class="card-title black-text">R$ {{ produto.valor_unit }}</span>
                        <br>

                        <a href="{% url 'detalhar_produto' produto.id %}">{{ produto.descricao }}</a>
                    </div>

                    <div class="card-action">
                        {% if venda %}
                            <a class="btn orange"  href="{% url 'adicionar_item_venda' produto.id venda.id %}">Adicionar
                                <i class="material-icons right">shopping_cart</i>
                            </a>
                        {% else %}
                            <a class="btn orange" href="{% url 'realizar_venda' produto.id %}">Adicionar
                                <i class="material-icons right">shopping_cart</i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="fixed-action-btn horizontal" style="bottom: 20px; right: 20px;">
        <a href="{% url 'add_produtos' %}" class="btn-floating btn-large blue">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block aside %}
    {% if venda %}
        <div class="row">
            <div class="card">
                    <div class="collection">
                        <a href="" class="collection-item active">Minha compra</a>
                        {% for produto in venda.produtos.all %}
                            <a href="" class="collection-item text-muted">{{ produto.descricao }} <span class="blue-text">R$ {{ produto.valor_unit}}</span></a>
                        {% endfor %}
                        <a href="" class="grey lighten-2 collection-item">Valor total: R$ {{ venda.valor_total}}</a>
                        <a href="{% url 'index' %}" class="btn tean lighten-2 collection-item">Comprar</a>
                    </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
